.li {
    list-style: none;
}

.li a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondaryNav_icon{
    font-size: 20px;
    color: #333;
    margin-right: 8px;

}
.secondaryNav_label{
    color: black !important;
    border-color: black !important;
    font-size: small;
}

@media (max-width: 767px) {
    .secondaryNav_label {
      display: none;
    }
  }